APP_NAME=LFS
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost/lfs-website-laravel/public

APP_LOCALE=en
APP_FALLBACK_LOCALE=en

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=lfs_db
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_STORE=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=public

MAIL_MAILER=log
MAIL_FROM_ADDRESS="support@lfszambia.run"
MAIL_FROM_NAME="${APP_NAME}"

ADMIN_EMAIL=support@lfszambia.run
ADMIN_LOGIN_SLUG=door
ADMIN_PASSWORD_HASH=
ADMIN_SESSION_TIMEOUT=1800

LENCO_API_SECRET_KEY=
LENCO_WEBHOOK_SECRET=

BLOG_LIST_CACHE_TTL=120

VITE_APP_NAME="${APP_NAME}"
